.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0f0f0f;
    z-index: 5;
}

.leftsec {
    display: flex;
    align-items: center;
    width: 200px;
    min-width: 36px;
}

.ham {
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.yt {
    height: 21px;
    margin-left: 27px;
    cursor: pointer;
}

.midsec {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
    margin-right: 5px;
}

.searchtools {
    border: solid;
    border-color: rgba(255, 255, 255, 0.20);
    display: flex;
    flex: 1;
    border-radius: 25px;
    border-width: 1px;
    align-items: center;

}

.searchbar {
    font-size: 20px;
    display: block;
    flex: 1;
    height: 35px;
    font-size: 18px;
    padding-left: 15px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: solid rgba(255, 255, 255, 0.20);
    border-width: 1px;
    background-color: #0f0f0f;
    color: white;
    width: 70px;
}

.searchbar::placeholder {
    font-family: Roboto, Arial;
    font-size: 18px;
    color: aliceblue;
}

.searchbutton {
    height: 37px;
    width: 60px;
    border: none;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
}

.micbutton {
    height: 40px;
    width: 40px;
    border: none;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.micbutton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.rightsec {
    width: 183px;
    min-width: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.share {
    height: 26px;
    cursor: pointer;
}

.notif {
    height: 26px;
    cursor: pointer;
}

.minipfp {
    height: 33px;
    width: 32px;
    margin-right: 47px;
    border-radius: 100%;
    cursor: pointer;
}

.sidebar {
    background-color: #0f0f0f;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 68px;
}

.entity {
    background-color: #0f0f0f;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}

.entity:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.entity img {
    height: 24px;
    margin-bottom: 5px;
}

.entity div {
    font-size: 10px;
}

