.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 40px;
}

@media (max-width: 1600px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .video-grid{
        grid-template-columns: 1fr;
    }
}

.thumbnail-container {
    margin-bottom: 12px;
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.vid-time {
    position: absolute;
    background-color: #0f0f0f;
    right: 10px;
    bottom: 12px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.pfp-container {
    margin-left: 5px;
    vertical-align: top;
}

.pfp {
    width: 100%;
    border-radius: 100%;
}

.subtitle-container {
    margin-left: 15px;
}

.video-title {
    margin-top: 0;
    font-weight: bolder;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}

.video-author {
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin-top: 9px;
    margin-bottom: 0;
    font-weight: 500;
}

.video-stats {
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin-top: 3px;
    font-weight: 500;
}

.imposta {
    margin-left: 5px;
}


